.hero_banner {
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.no-decoration {
  text-decoration: none;
}

.no-decoration:hover,
.no-decoration:active,
.no-decoration:visited,
.no-decoration:focus {
  text-decoration: none;
}

.hero_banner {
  position: relative;
  z-index: 0;
  z-index: 100%;
  height: 100%;
}

.hero_banner__video {
  position: relative;
  background-color: #000;
  height: 20vh;
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 1200px) {
  .hero_banner__row {
    overflow: hidden;
    height: 68vh;
  }

  div.hero_banner__video {
    height: 70vh;
    min-height: 570px;
  }
}

.hero_banner__video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

@media only screen and (max-width: 992px) {
  .hero_banner__overlay {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .hero_banner__overlay {
    top: 0;
    right: 0;
    bottom: inherit;
    left: 0;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
  }
}

.hero_banner .hero_banner__overlay {
  top: 0;
  right: 0;
  bottom: inherit;
  left: 0;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}

// .hero_banner .hero_banner__overlay h2 {
//   font-size: 1rem;
//   line-height: 1.6rem;
//   letter-spacing: 0.25rem;
//   font-weight: 425;
// }

.home-tiles {
  height: 60vh;
  transform: translateY(-3px);

  &__tile {
    height: 33%;
  }
}

@media only screen and (min-width: 1200px) {
  .home-tiles {
    height: calc(70vh + 6px);
    min-height: 570px;
  }
}
