.vertically-gapped {
  display: flex;
  flex-direction: column;
  gap: 8.75rem;
}

$sm-gap : 4rem;
$sm-gap-half : $sm-gap / 2;
.vertically-gapped.vertically-gapped--sm {
  gap: $sm-gap-half ;
  .close-vertical-gap {
    transform: translateY(-$sm-gap-half);
  }
  @media only screen and (min-width: 1200px) {
    gap: $sm-gap;
    .close-vertical-gap {
      transform: translateY(-$sm-gap);
    }
  }
}
