@import "../site-extensions";

.navbar-aside {
  display: none;
  position: relative;
  width: 100%;
  min-height: initial;
  height: initial;
  top: 0;
  left: 0;

  @extend %flex-centered;
  &__item {
    @extend %flex-centered-col;
    height: 100%;
    width: 100%;
  }

  @media only screen and (max-width: 1199px) {
    &__item {
      position: relative;
    }
    &__item:after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $white;
      bottom: 0;
      left: 0;
    }
  }

  &__item-main {
    @extend %flex-centered;
    width: 100%;
    height: 80%;
    background-color: $light;
  }
  &__item-details {
    @extend %flex-centered;
    height: 20%;
    @media only screen and (max-width: 1199px) {
      justify-content: flex-start;
      width: 100%;
    }
  }
  &__item-link {
    text-transform: uppercase;
    color: $white;
    path {
      fill: #fff;
    }
  }
}
.nav-link.expand + aside.navbar-aside {
  display: flex;
  flex-direction: column;
}

.nav-link.expand + aside.navbar-aside {
  display: flex;
}

@media only screen and (min-width: 1200px) {
  .navbar-aside {
    position: relative;
    width: 80vw;
    // width: calc(100vw - 30vw);
    min-height: 100vh;
    height: 100vh;
    top: 96px;
    left: 20%;
  }

  .header_theme_default {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: $white;
  }

  .nav-item:nth-of-type(1) .navbar-aside .navbar-aside__item {
    // opacity: 0;
  }

  .nav-link.expand + aside.navbar-aside {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: nth($xd-spacings, 5);
    background-color: $white;
  }
}
