// regplate
.reg-plate {
	position: relative;
	border: $input-border-width solid $input-border-color;

	max-width: 8em;
	padding-left: 2.1em;
	padding-top: .1em;
	padding-bottom: .1em;

	font-family: "uknumberplateregular";
	font-size: 2em;
	text-transform: uppercase;
	
	background-color: #eace00;
	background-image: url("https://bluesky.sirv.com/Global/Assets/Images/Components/Numberplate/numberplate-bg.gif");
	background-repeat: no-repeat;
	background-size: contain;

	&--white {
		background-color: #fff;
	}

	&--transparent {
		background-color: #0000;
	}

	&--inline {
		padding-top: .5em;
		padding-bottom: .5em;
		padding-left: 2.6em;
		font-size: 1em;
		max-width: unset;
	}
}
