.g-reviews {
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 41.65%;

  .order-lg-1 {
    height: 30vh;
  }

  img:not(.g-reviews__logo-img) {
    width: 100%;
    object-fit: cover;
    @media only screen and (max-width: 1199px) {
      height: 30vh;
    }
  }

  @media only screen and (min-width: 1200px) {
    .order-lg-1 {
      height: auto;
    }
    img {
      width: auto;
      height: 100%;
    }
  }
}

.g-reviews__col-one,
.g-reviews__col-one img {
  min-height: 50vh;
}
@media only screen and (min-width: 768px) {
  .g-reviews__col-one,
  .g-reviews__col-one img {
    min-height: 40vh;
  }
}

@media only screen and (min-width: 1200px) {
  .g-reviews__col-one img {
    max-width: 40vw !important;
  }
}
