<appSettings>
    <add key="WebsiteID" value="129" />
    <add key="CarFinder" value="true" />
    <add key="UserProfile" value="true" />
    <add key="UsedCarAdmin" value="true" />
    <add key="Testimonials" value="true" />
    <add key="CogAdminRegLookup" value="true" />
    <add key="News" value="true" />
    <add key="Offers" value="true" />
    <add key="Jobs" value="true" />
    <add key="Leads" value="true" />
    <add key="SilentSalesmanPath" value="/used-car-details_print.aspx" />
    <add key="COGMobile" value="true" />
    <add key="CapNewCarAdmin" value="true" />
    <add key="CapNewVanAdmin" value="true" />

    <!--Autotransact-->
    <add key="AutoTransactWebsiteId" value="85"/>	

</appSettings>