.banner {
	&__video-wrapper {
		display: flex;
		justify-content: center;
	}
	&__video-mute-toggle {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		z-index: $zindex-sticky;
		color: $white;
		font-size: $btn-font-size-sm;
		padding: $btn-padding-y-sm $btn-padding-x-sm;
		border-radius: $btn-border-radius-sm;
		cursor: pointer;
		opacity: .8;
		transition: opacity 200ms ease-in-out;
		background-color: $black;

		&:hover {
			opacity: 1;
		}

		&:before {
			content: "";
			display: inline-block;
			width: .6rem;
			height: .6rem;
			border-radius: 50%;
			margin-right: $btn-padding-x-sm;
			background-color: $light;
		}

		&[data-ytplayer-is-muted="true"] {
			&:before {
				background-color: $danger;
			}
		}

		&[data-ytplayer-is-muted="false"] {
			&:before {
				background-color: $success;
			}
		}
	}
}