.nav-segment {
  position: relative;
  background-color: #f8fafd;
  padding: .25rem .25rem;
  border-radius: .3125rem;

  &:not(.nav-fill) {
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .nav-link {
    color: #677788;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    padding: .375rem .875rem;
    border-radius: .3125rem;

    &.active {
      color: $dark;
      background-color: $white;
      box-shadow: $box-shadow-sm;
    }
  }
}
